#content {
	margin: 20px;
}

.my-container {

}

.row {
	margin: auto;

}

.row-h {
	height: 150px;

}

.my-row {
	height: 150px;

}

.my-col {
	border: 2px solid gray;
	height: 100px;
	text-align: center;
	padding: 37px;
	background: linear-gradient(#ededed, white);
	box-shadow: 3px 3px grey;
	border-radius: 2px 2px 2px 2px;
	
}

.my-col-s {
	border: 2px solid gray;
	height: 100px;
	text-align: center;
	line-height: 40px;
	padding: 33px;
	background: linear-gradient(#ededed, white);
	box-shadow: 3px 3px grey;
	border-radius: 2px 2px 2px 2px;
}

	